body, h1, p {
margin: 0;
padding: 0;
}

h1 {
color: #ffffff;
}

h2 {
color: #ffd700;
text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}

p {
line-height: 2em;
}

p.hl {
font-size: 1.25em;
color: #ffffff;
}

header, div#main, nav, footer {
padding: 8px;
}

header {
background-color: #ff4500;
}

div#content {
background-color:#ffd700;
width: 760px;
overflow: hidden;
}

div#main {
background-color: #ffffff;
width: 584px;
float: right;
}

nav {
color: #339933;
background-color: #ffd700;
width: 144px;
float: left;
}

nav a:link {
color: #ffffff;
}

nav a:hover {
color: #000000;
}

nav li {
line-height: 2em;
}

footer {
color: #ffffff;
background-color: #ff4500;
}

img {
    max-width: 100%;
    height: auto;
}
